input, textarea {
  margin: 7px 0;
  padding: 28px 10px !important;
  border: 1px solid rgba(44, 140, 83, 0.5) !important;
  color: rgba(44, 140, 83, 1) !important
}

.section-heading {
  color: rgba(44, 140, 83, 1)
}

form {
  max-width: 800px;
  margin: auto;
}

input:focus,
textarea:focus {
  outline-color: rgba(44, 140, 83, 1) !important;
  box-shadow: 1px 1px 10px rgba(44, 140, 83, 1) !important;
}

.submit-btn {
  min-width: 200px !important;
  padding: 20px 10px;
  background: none;
  border: 1px solid rgba(44, 140, 83, 0.9);
  color: rgba(44, 140, 83, 0.9);
  font-weight: 800
}

.submit-btn:hover,
.submit-btn:active {
  background-color: rgba(44, 140, 83, 0.9);
  color: white
}

@media screen and (max-width: 700px) {
  .section-heading{
    font-size: 1.8em;
  }
    .section-text p.lead{
        font-size: 1em;
    }
}