{% extends 'main_site/base.html' %}
{% load static %}


{% block custom_css %}
<link rel="stylesheet" href="{% static 'main_site/css/custom-css/contact.css' %}">
{% endblock %}

{% block content %}

<section class="bg-light">
    <div class="container my-5">
        <div class="row section-text mb-5 text-center">
            <h1 class="col-12 text-uppercase section-heading">contact us</h1>
            <p class="col-12 section-caption lead">You can reach us by filling this contact form.</p>
        </div>
    </div>


    <form method="POST" action="{% url 'contact' %}">
        {% csrf_token %}
        <div class="container text-center">
            {% if messages %}
            {% for message in messages %}
            <div class="text-center container">
                <div class="row alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
            {% endif %}
            <div class="row my-5">
                <div class="col-12 form-group">
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Your Name *"
                           name="name">
                </div>
                <div class="col-12 form-group">
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your Email *"
                           name="email">
                </div>
                <div class="col-12 form-group">
                    <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Your Phone *"
                           name="phone">
                </div>
                <div class="col-12 form-group">
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Subject *"
                           name="subject">
                </div>
                <div class="col-12 form-group">
                    <textarea class="form-control" rows="6" placeholder="Your Message *" name="message"></textarea>
                </div>
                <div class="col-12 form-group">
                    <button type="submit" class="text-uppercase submit-btn btn">Send</button>
                </div>
            </div>

        </div>
    </form>
</section>

{% endblock %}