* {}

.profile-header {
  background: rgba(30, 130, 76, 0.2);
  font-family: serif;
}

.profile-image {
  height: 150px;
  width: 150px;
  padding: 3px;
  border: rgba(30, 130, 76, 0.9) 1px solid;
  box-shadow: 3px 1px 20px #c3c3c3
}

.fullname {
  font-size: 2.4em;
  font-weight: 100;
}

.username {
  font-size: 1.4em
}

.follow-toggle {
  background: none;
  border: 1px solid rgba(30, 130, 76, 0.9);
  padding: 4px 26px;
  color: rgba(30, 130, 76, 0.9);
  cursor: pointer;
  transition: 0.2s ease-out;
  letter-spacing: 0.8px;
  margin-bottom: 20px;
}

.follow-toggle:hover {
  background: rgba(30, 130, 76, 0.9);
  color: white;
  font-weight: bold;
}

.activity {
  width: 90%;
  margin: auto;
  position: absolute;
  box-shadow: 3px 2px 20px #c3c3c3;
  top: 420px;
  left: 20px;
  background: #fff;
  border-radius: 10px;
  max-width: 400px;
  padding: 5px
}

.activity .number {
  font-size: 1.2em;
  margin-bottom: 0
}

.activity .activity-type {
  margin-bottom: 0;
  font-size: 1.3em;
  color: rgba(30, 130, 76, 0.9)
}

.heading {
  font-size: 1.3em;
  margin-bottom: 13px
}

.about p {
  font-size: 1em;
  width: 90%;
  margin-bottom: 30px
}

.about .fab {
  margin-right: 20px;
  color: rgba(30, 130, 76, 0.9);
}

.post-title {
  margin-top: 10px;
  color: rgba(30, 130, 76, 0.9)
}

.fas {
  color: rgb(115, 35, 71) !important
}

.fa-bars {
    color: rgb(44, 140, 83) !important;
}

.posts {
  border-top: 1px solid #c3c3c3;
}

@media screen and (min-width:426px) {
  .activity {
    width: 90%;
    margin: auto;
    position: inherit;
    background: inherit;
    box-shadow: none;
    padding: inherit;
  }
}

@media screen and (min-width:426px) and (max-width:768px) {
  .activity .number {
    font-size: 1.3em;
  }

  .activity .activity-type {
    margin-bottom: 0;
    font-size: 1.8em;
    margin: auto
  }

  .heading {
    font-size: 1.5em
  }

  .about p {
    font-size: 0.85em;
    width: 90%
  }
}

@media screen and (min-width:768px) {
  .activity {
    width: 100%
  }

  .activity .number {
    font-size: 1.2em;
  }

  .activity .activity-type {
    margin-bottom: 0;
    font-size: 2em;
    margin: auto
  }

  .heading {
    font-size: 1.5em
  }

  .about p {
    font-size: 1em;
    width: 90%;
  }
}

@media screen and (min-width:768px) {
  .profile-image {
    text-align: right !important;
    margin-left: 100p0x;
    width: 200px;
    height: 200px;
  }

  .account-details {
    text-align: left;
  }

  .fullname,
  .username,
  .follow-toggle {
    margin-left: 50px
  }

  .login-to-follow {
    margin-left: 50px
  }

  .activity {
    margin-top: 20px !important;
  }
}

@media screen and (max-width:426px) {
  .profile-header {
    height: 388px;
  }

  .fullname {
    font-size: 1.6em
  }

  .activity .activity-type {
    color: rgba(30, 130, 76, 0.9)
  }
}